@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #8257e5;
  --primary-200: #6b46c1;
  --background-100: #202024;
  --background-200: #121214;
  --text: #fff;
  --text-grey: #a0aec0;
  --text-placeholder: #474b4c;

  font-size: 62.5%;
}

body {
  background-color: var(--background-200);
  color: var(--text);
}

body * {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}

#__next {
  display: flex;
  place-items: center;
  height: 100vh;
}

.main {
  width: min(40rem, 98%);
  margin: auto;
  background-color: var(--background-100);
  border-radius: 1.6rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}

.display {
  height: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 0.8rem;
}

.current {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.4rem;
  color: #a0aec0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.result {
  width: 95%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4.8rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.controls {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.item {
  outline: none;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.04);
  cursor: pointer;
  text-decoration: none;
  background-color: var(--primary-100);
  font-size: 3.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
}

.item:hover {
  background-color: var(--primary-200);
}

#Equals {
  grid-row: 4 / span 2;
  grid-column: 4;
  border-radius: 3.6rem !important;
  height: 15.6rem !important;
}
